node_modules/
.vs/
.idea/
*.iml

# Pkg files
.yarn/install-state.gz
.yarn/build-state.yml
package-lock.json

# Environment variables
.DS_Store
*.env*

dist/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

